<!-- Intro Section -->

<main>
    <div class="container">
        <h2 class="h1-responsive display-4 text-center my-5">allstack.io</h2>
        <p class="text-center dark-grey-text w-responsive mx-auto mb-5 text-muted">Hey! I'm <mark>@allstack</mark> and
            this is our collection of reference guide on various modern technologies </p>

        <div class="row justify-content-center">

            <form class="form-inline md-form form-sm active-black active-black-2">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3" type="text" placeholder="Search" aria-label="Search"
                    mdbInputDirective>
            </form>

        </div>
        <hr class="mb-5">
        <div class="row justify-content-center">
            <button (click)="test.toggle()" mdbBtn type="button" color="black" rounded="true" outline="true" mdbWavesEffect>HTML</button>
            <button mdbBtn type="button" color="black" rounded="true" outline="true" mdbWavesEffect>CSS</button>
            <button mdbBtn type="button" color="black" rounded="true" outline="true" mdbWavesEffect>SCSS</button>
            <button mdbBtn type="button" color="black" rounded="true" outline="true" mdbWavesEffect>JavaScript/ES6</button>
            <button mdbBtn type="button" color="black" rounded="true" outline="true" mdbWavesEffect>Node.JS</button>
            <button mdbBtn type="button" color="black" rounded="true" outline="true" mdbWavesEffect>Angular</button>
            <button mdbBtn type="button" color="black" rounded="true" outline="true" mdbWavesEffect>AWS</button>
            <button mdbBtn type="button" color="black" rounded="true" outline="true" mdbWavesEffect>Serverless</button>
        </div>
        <hr class="mb-5">
        <div class="" mdbCollapse #test="bs-collapse">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            </div>
    </div>  
</main>
