<header>
	<section class="view intro-2">
		<div class="full-bg-img mask rgba-stylish-strong">
			<div class="container flex-center">
				<div class="d-flex align-items-center content-height w-100">
					<div class="row flex-center pt-5 mt-3 w-100">
						<div class="col-md-6 text-center text-md-left mb-5">
							<div class="white-text">
								<h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">FonDash v2.0 </h2>
							</div>
						</div>

						<div class="col-md-6 col-xl-5 offset-xl-1">
							<div class="card wow fadeInRight" data-wow-delay="0.3s">
								<amplify-authenticator-core></amplify-authenticator-core>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</header>