<header class="intro-header">
	   <!--Navbar-->
	   <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
			<!--<mdb-navbar-brand>
				<a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong class="black-text">MDB</strong></a>
			</mdb-navbar-brand>-->
			<links>
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active waves-light" mdbWavesEffect>
						<!--<a class="nav-link black-text" href="#">Home <span class="sr-only">(current)</span></a>-->
						<button  mdbBtn type="button" color="black" rounded="true" outline="true"
                mdbWavesEffect>JavaScript/EcmaScript</button>
					</li>
					<li class="nav-item waves-light" mdbWavesEffect>
							<button  mdbBtn type="button" color="black" rounded="true" outline="true"
							mdbWavesEffect>Angular</button>
					</li>
					<li class="nav-item waves-light" mdbWavesEffect>
							<button  mdbBtn type="button" color="black" rounded="true" outline="true"
							mdbWavesEffect>AWS</button>
					</li>
					<li class="nav-item waves-light" mdbWavesEffect>
							<button  mdbBtn type="button" color="black" rounded="true" outline="true"
							mdbWavesEffect>Serverless</button>
					</li>
					<li class="nav-item waves-light" mdbWavesEffect>
							<button  mdbBtn type="button" color="black" rounded="true" outline="true"
							mdbWavesEffect>Node.JS</button>
					</li>
					<li class="nav-item waves-light" mdbWavesEffect>
							<button  mdbBtn type="button" color="black" rounded="true" outline="true"
							mdbWavesEffect>Python</button>
					</li>
				</ul>
			</links>
		</mdb-navbar>
	<section class="view intro-2">
		<div class="full-bg-img mask rgba-stylish-strong">
			<div class="container flex-center">
				<div class="d-flex align-items-center content-height w-100">
					<div class="row flex-center pt-5 mt-3 w-100">
						<div class="col-md-6 text-center text-md-left mb-5">
							<div class="white-text">
								<h2 class="h1 h1-responsive display-4 text-center my-5 wow fadeInLeft" data-wow-delay="0.3s"> allstack.video</h2>
								<p class="text-center white-text w-responsive mx-auto mb-5 text-muted">Hey! I'm <mark>@allstack</mark> and
									this is our collection of reference guide on various modern technologies </p>
							</div>
						</div>

						<div class="col-md-6 col-xl-5 offset-xl-1">
							<div class="card wow fadeInRight" data-wow-delay="0.3s">
								<amplify-authenticator-core></amplify-authenticator-core>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</header>