<ng-progress [direction]="'ltr+'" [min]="20" [max]="1" [speed]="200" [trickleSpeed]="300" [spinner]="true"
    [spinnerPosition]="'left'" [thick]="true" [meteor]="true" [color]="'black'" [ease]="'linear'"></ng-progress>

<app-navigation *ngIf="userState === 'signedIn'">
</app-navigation>

<!--<mdb-navbar *ngIf="specialPage" SideClass="navbar fixed-top navbar-expand-md scrolling-navbar" [containerInside]="false">

    <links>

        <!- SideNav slide-out button ->
        <div class="float-xs-left">
            <a (click)="goBack()" class="mr-5">
                <i class="fa fa-arrow-left"></i> Go back</a>
        </div>
        <!-/. SideNav slide-out button ->
    </links>
    <logo>


        <!- Breadcrumb->
        <div class="breadcrumb-dn mr-auto">
            <p class="mb-0">Material Design for Bootstrap</p>
        </div>
        <!-/. Breadcrumb->
    </logo>
    <links>

        <ul class="nav navbar-nav nav-flex-icons ml-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>
                    <i class="fa fa-envelope"></i>
                    <span class="clearfix d-none d-sm-inline-block">Contact</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>
                    <i class="fa fa-comments-o"></i>
                    <span class="clearfix d-none d-sm-inline-block">Support</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>
                    <i class="fa fa-user"></i>
                    <span class="clearfix d-none d-sm-inline-block">Account</span>
                </a>
            </li>
            <li class="nav-item dropdown btn-group" dropdown>
                <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    Dropdown
                </a>
                <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </links>
</mdb-navbar>-->

<main [ngClass]="{'py-0 px-0 my-0 mx-0': userState === 'signedOut'}">
    <!--<app-notification></app-notification>-->
    <div [class.container-fluid]="userState === 'signedIn'">
        <router-outlet></router-outlet>
    </div>
</main>
<app-footer *ngIf="userState === 'signedIn'"></app-footer>